<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesus.veterinaria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login"/>
        <activity android:name=".Principal" />
        <activity android:name=".Clientes" />
        <activity android:name=".registro_cliente" />
        <activity android:name=".registro_mascota" />
        <activity android:name=".registro_servicio" />
        <activity android:name=".registro_medico" />
        <activity android:name=".Medicos" />
        <activity android:name=".Mascotas" />
        <activity android:name=".Servicios" />
        <activity android:name=".Historial_mascota" />
        <activity android:name=".Modificar_cliente" />
        <activity android:name=".Registro_cita" android:configChanges="orientation|screenSize"/>
        <activity android:name=".Modificar_mascota" />
        <activity android:name=".Historial_cliente" />
        <activity android:name=".Modificar_medico" />
        <activity android:name=".Modificar_servicio" />
        <activity android:name=".Inicio" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>